
text {
    filter: url(#filter);
    fill: gold;
    /*font-family: 'Share Tech Mono', sans-serif;*/
    font-family: 'Slabo 27px', serif;
    font-size: 120px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #E6C82A;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}
/*h1 {
    font-size: 40px;
    margin: 0;
    padding: 10px;
    color: #5F60B4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

nav {
    position: relative;
    background-color: black;
    height: 70px;
    width: auto;
    border-bottom: 3px solid #000;
    border-style-bottom: outset;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #5B5B5B;
    /*opacity: 0.7;*/
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-flow: row nowrap;
    z-index: 5;
}
nav div {
    position: relative;
    -webkit-flex-grow: 1; /* Safari 6.1+ */
    -webkit-flex-shrink: 1; /* Safari 6.1+ */
    -webkit-flex-basis: 100px; /* Safari 6.1+ */
    flex-grow: 1;
    flex-shrink: 1;
    /*flex-basis: 50px;*/
    /*border-right: 1px solid #000;*/
}
/*#nav div:nth-of-type(1) {
}*/
.title {
    padding-left: 15px;
}



.m1 {
    /*display: inline;*/
    background-color: #E6C82A;
    position: relative;
    width: 100%;
    height: 600px;
    /*top: 500px;*/
    z-index: 1;
}
.mainA {
    /*display: inline-block;*/
    background-color: white;
    position: relative;
    top: 5%;
    left: 5%;
    width: 750px;
    height: 250px;
    /*padding: 20px;*/
    border: 3px solid outset #FFF;
    box-shadow: 5px 5px 5px #5B5B5B;
    /*z-index: -1;*/
}
.aboutAlbum {
    opacity: 0.8;
}
.aboutAlbum:hover {
    opacity: 1.0;
}
.mainA .about {
    width: 550px;
    height: 250px;
    padding-left: 20px;
    padding-right: 20px;
    /*border: 1px solid outset;*/
    /*box-shadow: ;*/
    /*box-shadow: 5px 5px 5px #5B5B5B;*/
}


.m2 {
    background-color: black;
    /*background: url("/home/aurelius/lion.jpg");*/
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 700px;
}
.m2 h2 {
    font-size:100px;
    text-align:center;
    background: url("/home/aurelius/lion.jpg") fixed;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display:block;
    line-height:140%;
    font-weight:900;
    text-transform:uppercase;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    letter-spacing: 20px;
}

.p2 {
    position: relative;
    top: 200px;
    background-color: green;
    overflow: hidden;
    width: 100%;
    height: 700px;
}
.p3 {
    position: relative;
    top: 400px;
    background-color: purple;
    overflow: hidden;
    width: 100%;
    height: 700px;
    border-color: transparent;
    background-clip: padding-box;
    border-bottom-width: 100px;
    border-bottom-style: solid;
}

















/*Nav Bar Links and Hover*/

.social {
    padding-top: 20px;
}
.social #Layer_1:hover { 
    -webkit-transform: rotate(40deg) scale(1.2);
    -moz-transform: rotate(40deg) scale(1.2);
    -o-transform: rotate(40deg) scale(1.2);
}
.social #Layer_1R:hover { 
    -webkit-transform: rotate(-20deg) scale(1.2);
    -moz-transform: rotate(-20deg) scale(1.2);
    -o-transform: rotate(-20deg) scale(1.2);
}
svg:hover #hov { 
    animation: blink 2s linear 1;
}
@keyframes blink {
    /*0% { fill  : #3B5998; }*/
    0% { fill : white; }
    /*40% { fill: #3B5998; }*/
    /*60% { fill: #3F70D7; }*/
}

svg #Ebene_1 {
  /*width: 300px;*/
  /*height: 120px;*/
  position: relative;
  display: block;
  /*overflow: hidden; */
  /*margin: 0 auto;*/
  /*background: black;*/
}

#socialPad {
    padding-top: 10px;
    padding-right: 10px;
    float: right;
}




table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    /*border-color: gold;*/
}
table td {
    padding: 0px;
}