.container {
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.m {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1200px;
    min-width: 1024px;
    min-height: 100%;
    width: 100%;
    height: 100%;

}
.m1 {
    background-color: #043561;
    color: #2384C6;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 10%;
    text-align: left;
    overflow: hidden;

    position: relative;
    top: 50%;
    /*-webkit-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    max-height: 100vh
}
/*@media (min-width: 54.857142857142854em) {
    .m1 {
        text-align:left
    }
}*/
.m1Image {
    position: relative;
    margin-left: .52083%;
    margin-right: .52083%;
    width: 32.29206%;
    margin-bottom: 0;
    padding-right: 1rem;
    font-size: 22px;
    text-align: right;
}
/*@media (min-width: 54.8571428571429em) { 
    .m1Image {
    text-align: left;
}*/

.image {
    position: relative;
    border: .75rem solid rgba(52,73,94,.2);
    height: 8rem;
    margin-right: .5rem;
    margin-top: .75rem;
    width: 8rem;
    border-radius: 50%;
    -webkit-filter: contrast(200%) saturate(30%);
}

.m1Text {
    margin-left: .52083%;
    margin-right: .52083%;
    width: 65.62577999999999%;
    text-align: left;
}

.title {
    line-height: 1.19;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: -10px;
    color: #ffffcb;
}

.subheader {
    /*display: block;*/
    line-height: 1.19;
    font-size: 1rem;
    font-weight: 300;
    margin: .05em 0;
    color: #ffffcb;
}
.introText {
    color: #0071FF;
    font-weight: 300;
}
.inlineLink {
    text-decoration: none;
    color: #0071FF;
    border-bottom: 1px solid #ffffcb;
}
.m1Text ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    color: #0071FF;
}
.m1Text ul li {
    display: inline-block;
    margin-left: -4px;
    text-align: -webkit-match-parent;
}
.m1Text ul li a {
    position: relative;
    background: rgba(70,130,163,.4);
    border-radius: 50%;
    display: block;
    line-height: 50%;
    margin: .5em .25em;
    padding: .5em;
    text-decoration: none;
    transition: .2s all ease-in-out;
    cursor: auto;
}
@media (min-width: 54.857142857142854em) {
    .m1Text ul li a {
        margin:.5em
    }
}


.hideText {
    position: absolute;
    height: 1px;
    left: -999px;
    overflow: hidden;
    top: -999px;
    width: 1px
}
.iconBtn {
    background: 0 0;
    margin-top: 3px;
    display: inline-block;
    fill: #95a5a6 !important;
    height: 1.25em;
    width: 1.25em
    -webkit-transform: translateY(-.1em);
    transform: translateY(-.1em);
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}




.m1Text ul li a:after {
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ffffcb;
    content: "";
    height: 100%;
    left: -7px;
    opacity: 0;
    padding: 7px;
    pointer-events: none;
    position: absolute;
    top: -7px;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    transition: -webkit-transform .2s,opacity .2s;
    transition: transform .2s,opacity .2s;
    width: 100%
}

.m1Text ul li a .active,.m1Text ul li a:active,.m1Text ul li a:focus,.m1Text ul li a:hover {
    background: #ffffcb;
    outline: 0
}

.m1Text ul li a .active .iconBtn,
.m1Text ul li a:active .iconBtn,
.m1Text ul li a:focus .iconBtn,
.m1Text ul li a:hover .iconBtn {
    fill: #243342 !important
}

.m1Text ul li a .active:after,.m1Text ul li a:active:after,.m1Text ul li a:focus:after,.m1Text ul li a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}



/*=================END OF ABOUT ME =======================*/

/*=================START OF MY SKILLS =====================*/

.m2 {
    background-color: #72B6F4 ;
    color: #043561;
    position: relative;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 10%;
    text-align: left;
}
.header {
    margin-left: .52083%;
    margin-right: .52083%;
    width: 98.95949999999999%;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    padding: 0 .75rem;
    font-weight: 200;
    text-align: center;
    /*text-decoration: underline;*/
}

.m2 ul {
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    margin: 0;
    padding: 0
}
.m2 ul li {
    margin-left: .52083%;
    margin-right: .52083%;
    width: 98.95949999999999%;
    font-size: 1rem;
    list-style: none;
    padding: .75rem;`
    text-align: left;
}
.m2 p {
    font-weight: 300;
    line-height: 1.5;
    margin: 1em auto 0;
    max-width: 75ch;
    text-align: center
}
.m2 footer {
    margin-left: .52083%;
    margin-right: .52083%;
    width: 98.95949999999999%;
    margin-top: .75rem;
    text-align: center
}

.header2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
    font-size: .75rem;
    font-weight: 600;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
    
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
}
.btn {
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-size: .65rem;
    font-weight: 600;
    padding: .45rem 1.875em;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    transition: .15s all ease-in-out;
    
    background-color: #72B6F4 ;
    color: #043561;
    border: 2px solid #fff;
    border-radius: .3rem;
    border-color: #043561;
}
@media (min-width: 85.71428571428571em) {
    .btn {
        padding:.45rem 2.5em
    }
}
.btn:hover {
    background: #043561;
    color: #72B6F4;
}




/*=================END OF MY SKILLS =======================*/


/*=================START OF MY WORK =====================*/

.m3 {
    background-color: #00AFBC ;
    color: #FFF;

    position: relative;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 10%;
    text-align: left;
}
.m3 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /*border-right: 1px dotted #fff;*/
    border-bottom: none;

}
.m3 li {
    position: relative;
    border-bottom: 1px dotted #252525;
    border-right: 1px dotted #252525;
    display: inline-block;
    height: 8rem;
    margin-left: -5px;
    margin-top: -4px;
    width: 50%;
    border-color: white;

}
.m3 li:nth-of-type(n+5) {
    border-bottom: none
}

.m3 li:nth-of-type(2n) {
    border-right: none
}

@media (min-width: 54.857142857142854em) {
    .m3 li {
        width:33.3%;
        border-color: white;
    }

    .m3 li:nth-of-type(n+5) {
        border-bottom: 1px dotted #FFF
    }

    .m3 li:nth-of-type(2n) {
        border-right: 1px dotted #FFF
    }

    .m3 li:nth-of-type(n+4) {
        border-bottom: none
    }

    .m3 li:nth-of-type(3n) {
        border-right: none
    }
}




/*=================END OF MY WORK=======================*/



/*=================START OF CONTACT ME=====================*/

.m4 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    background: #004056;
    color: #fff;
    padding: 1.5rem 10%;
    font-weight: 300;
    letter-spacing: .5px;
}















/*======================== Body ======================*/


body {
    position: relative;
    background: #fff;
    margin: 0;
    font-weight: 300;
    letter-spacing: .5px;
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box
}
div {
    display: block;
}

:root {
    font-size: 22px
}
@media (min-width: 400px) and (max-width:800px) {
    :root {
        font-size:calc(16px + 6 * ((100vw - 400px)/ 400))
    }
}
@media (min-width: 800px) {
    :root {
        font-size:22px
    }
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

a {
    color: ;
}


/*@media only screen and ( min-width: 1024px) {
    body:after {
        content: "1024 and up";
    }
}*/



@media (min-width: 54.857142857142854em) {
    .title {
        line-height:1.19
    }
}



/*@media (min-width: 54.857142857142854em) {
    .c-contact__info {
        margin-left:.52083%;
        margin-right: .52083%;
        width: 40.62549%;
        border-left: 1px dashed #4f7091;
        border-top: none;
        padding-left: 1rem;
        padding-top: 0
    }
}*/

/*@media (min-width: 54.857142857142854em) {
    .c-contact__form {
        margin-left:.52083%;
        margin-right: .52083%;
        width: 57.29235%;
        padding-bottom: 0;
        padding-right: 1rem
    }
}

@media (min-width: 54.857142857142854em) {
    .o-section--padding-top {
        padding-top:100px
    }
}*/

@media (min-width: 54.857142857142854em) {
    .m1Text {
        margin-left:.52083%;
        font-family: 'Lato', serif;
        /*letter-spacing: -10px;*/
        margin-right: .52083%;
        width: 65.62577999999999%;
        text-align: left;
    }
}
@media (min-width: 54.857142857142854em) {
    .m1Image {
        margin-left:.52083%;
        margin-right: .52083%;
        width: 32.29206%;
        margin-bottom: 0;
        padding-right: 1rem;
        text-align: right;
    }
}










/*@media (min-width: 54.857142857142854em) {
    .o-logo-grid__item {
        width:33.3%
    }

    .o-logo-grid__item:nth-of-type(n+5) {
        border-bottom: 1px dotted #252525
    }

    .o-logo-grid__item:nth-of-type(2n) {
        border-right: 1px dotted #252525
    }

    .o-logo-grid__item:nth-of-type(n+4) {
        border-bottom: none
    }

    .o-logo-grid__item:nth-of-type(3n) {
        border-right: none
    }
}*/




/*@media (min-width: 54.857142857142854em) {
    .o-section__end {
        bottom:-100px;
        height: 100px
    }
}*/
