
body {
    /*position: relative;*/
    background: #fff;
    margin: 0;
    font-weight: 300;
    letter-spacing: .5px;
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box
}
div {
    display: block;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

:root {
    font-size: 16px;
}
@media (min-width: 500px) {
    :root {
        font-size:18px;
    }
}
@media (min-width: 670px) {
    :root {
        font-size:20px;
    }
}











/*=============LET IT SNOW=====================*/
.container {
    position: relative;
    padding: 0;
    margin: 0;
    /*height: 100%;*/
    height: 100vh;
    /*padding-bottom: 50px;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
  height: 100%;
}

canvas.flare,
canvas.snow,
canvas.flake {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
canvas.flare {
  opacity: 0.5;
}
/*----------End of Snow-------------*/


.section1 {
    /*background-color: #043561;*/
    background: #090b44; 
    background: -moz-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#090b44), color-stop(100%,#00001c)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #090b44 0%,#00001c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090b44', endColorstr='#00001c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 1.5rem 10%;
    width: 100%;
    height: 100%;
}
.section {
    /*Might use as container later*/
}
.m1 {
    /*background-color: #043561;*/
    color: #2384C6;
}
.m1Image {
    position: relative;
    margin-left: .52083%;
    margin-right: .52083%;
    width: 98.95949999999999%;
    margin-bottom: 1.5rem;
    height: auto;
    text-align: center;
}
.image {
    position: relative;
    border: .75rem solid rgba(52,73,94,.2);
    height: 8rem;
    width: 8rem;
    margin-right: .5rem;
    margin-top: .75rem;
    border-radius: 50%;
    -webkit-filter: contrast(200%) saturate(30%);
}

.m1Text {
    text-align: center;
}

.title {
    position: relative;
    line-height: .90;
    font-size: 4.0rem;
    font-weight: 100;
    letter-spacing: -5px;
    color: #ffffcb;
}

.subheader {
    line-height: 1.19;
    font-size: 1.5rem;
    font-weight: 400;
    margin: .05em 0;
    color: #ffffcb;
}
.introText {
    margin: 1em auto;
    max-width: 75ch;
    line-height: 1.365;

    display: block;
    -webkit-margin-before: 1.8em;
    -webkit-margin-after: 1.8em;
    -webkit-margin-start: 1.5em;
    -webkit-margin-end: 1.5em;

    color: #7CB7FF;
    font-size: 1.0rem;
    font-weight: 300;
}
.inlineLink {
    text-decoration: none;
    color: #7CB7FF;
    border-bottom: 1px solid #ffffcb;
}
#icons {
    /*background-color: white;*/
    fill: #95a5a6;
}

.m1Text ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    /*-webkit-padding-start: 40px;*/
    color: #7CB7FF;
    text-align: center;
}
.m1Text ul li {
    display: inline-block;
    margin-left: -4px;
    text-align: -webkit-match-parent;
    padding: 10px;
}
.m1Text ul li a {
    position: relative;
    background: rgba(70,130,163,.4);
    display: block;
    line-height: 50%;
    margin: .5em .25em;
    padding: .5em;
    text-decoration: none;
    transition: .3s all ease-in-out;
    cursor: auto;
    z-index: 10;
}

@media (min-width: 54.857142857142854em) {
    .m1Text ul li a {
        margin:.5em
    }
}




#burst-8 {
    background: #ffffcb;
    background: rgba(70,130,163,.4);

    width: 45px;
    height: 45px;
    padding: 0;
    position: relative;
    text-align: left;
    z-index: 1;
    opacity: 0.5;
    /*border-radius: 50%;*/
}
#burst-8:hover {
    border: 2px solid black;
    
}
#burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 45px;
    background: #ffffcb;
    transition: .3s all ease-in-out;
    /*background: rgba(70,130,163,.4);*/
    z-index: -1;

    /*opacity: 0.5;*/
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}
#burst-8:hover:before{
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}



/*
.m1Text ul li a:after {
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ffffcb;
    content: "";
    height: 100%;
    left: -7px;
    opacity: 0;
    padding: 7px;
    pointer-events: none;
    position: absolute;
    top: -7px;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    transition: -webkit-transform .2s,opacity .2s;
    transition: transform .2s,opacity .2s;
    width: 100%;
}

.m1Text ul li a .active,.m1Text ul li a:active,.m1Text ul li a:focus,.m1Text ul li a:hover {
    background: #ffffcb;
    outline: 0
}

.m1Text ul li a .active .iconBtn,
.m1Text ul li a:active .iconBtn,
.m1Text ul li a:focus .iconBtn,
.m1Text ul li a:hover .iconBtn {
    fill: #243342 !important
}

.m1Text ul li a .active:after,.m1Text ul li a:active:after,.m1Text ul li a:focus:after,.m1Text ul li a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}
*/


@media (min-width: 876px) {
    :root {
        font-size: 22px;
    }
/*    .container {
        position: relative;
        height: 100%;
    }*/
    .section1 {
        /*display: inline;*/
        background-color: #043561;
        margin-left: 0;
        margin-right: 0;
        max-width: 1400px;
        padding: 1.5rem 10%;
        /*width: 100%;*/
        /*height: 100%;*/
    }
    .m1{
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        /*width: 900px;*/`
    }
    .m1Image {
        position: relative;
        margin-left:.52083%;
        margin-right: .52083%;
        margin-top: 10%;
        width: 32.29206%;
        margin-bottom: 0;
        padding-right: 1rem;
        text-align: right !important;
    }
    .m1Text {
        margin-left:.52083%;
        margin-right: .52083%;
        font-family: 'Lato', serif;
        text-align: left !important;
        margin-top: 10%;
    }
    .introText {
        max-width: 49ch;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 3rem;

        font-size: 1.0rem;
        font-weight: 300;
        text-align: center !important;
    }
    .m1Text ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-right: 3rem;
        /*-webkit-padding-start: 40px;*/
    }
}
/*=================END OF ABOUT ME =======================*/

/*=================START OF MY SKILLS =====================*/

.m2 {
    background-color: #72B6F4 ;
    color: #043561;
    position: relative;
    padding-top: 100px;
    padding: 1.5rem 10%;
    text-align: left;
}
.header {
    margin-left: .52083%;
    margin-right: .52083%;
    width: 98.95949999999999%;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    padding: 0 .75rem;
    font-weight: 200;
    text-align: center;
    /*text-decoration: underline;*/
}

.m2 ul {
    list-style: none;
    margin: 0;
    padding: 0
}
.m2 ul li {
    margin-left: .52083%;
    margin-right: .52083%;
    width: 98.95949999999999%;
    font-size: 1rem;
    list-style: none;
    padding: .75rem;`
    text-align: left;
}
.m2 p {
    background-color: none;
    font-weight: 300;
    line-height: 1.5;
    margin: 1em auto 0;
    max-width: 75ch;
    text-align: center;
}
.m2 footer {
    margin-left: .52083%;
    margin-right: .52083%;
    width: 98.95949999999999%;
    margin-top: .75rem;
    text-align: center
}

.header2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
    font-size: .75rem;
    font-weight: 600;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
    
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
}
.btn {
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-size: .65rem;
    font-weight: 600;
    padding: .45rem 1.875em;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    transition: .15s all ease-in-out;
    
    background-color: #72B6F4 ;
    color: #043561;
    border: 2px solid #fff;
    border-radius: .3rem;
    border-color: #043561;
}
@media (min-width: 85.71428571428571em) {
    .btn {
        padding:.45rem 2.5em
    }
}
.btn:hover {
    background: #043561;
    color: #72B6F4;
}




/*=================END OF MY SKILLS =======================*/


/*=================START OF MY WORK =====================*/

.m3 {
    background-color: #00AFBC ;
    color: #FFF;
    width: 100%;
    overflow: hidden;

    position: relative;
    /*height: 700px;*/
}
.jects {
    /*display: none;*/
    /*background-color: black;*/
    list-style: none;
    margin: 0;
    padding-top: 20%;
    border-bottom: none;
    width: 100%;
}

.left {
    background-color: #00AFBC ;
    position: relative;
    height: 100vh;
}
.overlay  {
    /*background-color: black;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*opacity: 0.8;*/
}

.overlay li {
    position: relative;
    display: inline-block;
    /*width: 320px;*/
    width: 30%;
    height: 32vh;
    margin: 0;
    /*padding-left: 10px;*/
    border: 0;
    /*border-left: 1rem solid transparent;*/
    /*box-shadow: 5px 5px 5px #5C5C5C;*/
    opacity: 0.6;
}
.overlay li:hover {
    box-shadow: 5px 5px 5px #404040;
    opacity: 1.0;
    /*cursor: pointer;*/
}
.xl {
    height: 84vh;
    width: 97%;
    padding-left: 5%;
    padding-top: -5%;
}
#full {
    border-left: 1rem solid transparent;
}

.finalFooter {
    position: relative;
    bottom: 0;
    left: 0;
    padding-left: 5%;
}



.full .finalFooter,
.full .jects,
.full li {
    display: none;
}


.normal .xl {
    display: none;
}

/*=================END OF MY WORK=======================*/














#talkbubble {
   width: 120px;
   height: 80px;
   background: red;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid red;
   border-bottom: 13px solid transparent;
}