body {
	background: #090b44;
    background: -moz-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#090b44), color-stop(100%,#00001c)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #090b44 0%,#00001c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090b44', endColorstr='#00001c',GradientType=1 );
    
    margin: 0;
    font-weight: 300;
    letter-spacing: .5px;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

canvas.flare,
canvas.snow,
canvas.flake {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 15;
}
canvas.flare {
  opacity: 0.3;
}
/*----------End of Snow-------------*/
.topbar iframe {
    height: 85px;
}
.topbar span {
    display: none !important;
}
.topbar .tv-widget-ticker {
}

#widget-ticker-container {
    background-color: black !important;

}




header {
    text-align: center;
    padding-bottom: 50px;
    color: wheat;
}

.tickerhold {
    color: wheat;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    max-width: 1200px;
    padding: 1.5rem 10%;
    max-width: 1920px;
    width: 700px;
    height: 100%;
}

.container1{
    float: left;
    color: wheat;
    width: 100px;
    height: 100px;
}
.container2 {
    float: right;
    color: wheat;
}

.sideprice {
    max-width: 1200px;
    padding: 1.5rem 10%;
    width: 400px;
    height: 600px;
    font-size: 12px !important;
    margin-right: auto;
    margin-left: auto;
}
.clicky {
    display: block;
    width: 25%;
    min-height: 100px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    color: wheat;
}

.chartstart {
    display: block;
    width: 70vw;
    height: 70vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    margin-top: 55px;
}